* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Merriweather', serif;
}

:root {
  --gradient-top: linear-gradient(0deg, rgba(22, 24, 19, 0) 0%, rgba(22, 24, 19, 0.22) 36.98%, rgba(22, 24, 19, 0.47) 70.83%, rgba(22, 24, 19, 0.76) 100%);
  --gradient-bottom: linear-gradient(180deg, rgba(22, 24, 19, 0) 0%, rgba(22, 24, 19, 0.42) 21.88%, rgba(22, 24, 19, 0.69) 41.67%, rgba(22, 24, 19, 0.9) 61.98%, rgba(22, 24, 19, 0.99) 78.12%, #161813 100%);
  --sphere-gradient-one: radial-gradient(50% 50% at 20% 25%, #686868 0%, #403F3F 35%, #222222 70%, #000000 100%);
  --sphere-gradient-two: radial-gradient(51.04% 51.04% at 18.94% 26.18%, #686868 0%, #403F3F 36.98%, #222222 70.83%, #000000 100%);
}

/* canvas */
canvas {
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%; 
  height: 100%; 
  z-index: 1; 
}

.content {
  position: relative;
  z-index: 0; 
  color: white; 
  padding: 20px; 
}

header {
  position: relative; 
  z-index: 2; 
}

html ::-webkit-scrollbar-track {
  background: transparent;
}

html ::-webkit-scrollbar-thumb {
  background: #b2744c;
  border-radius: 10px;
}

html ::-webkit-scrollbar {
  width: 10px;
}

html {
  scroll-behavior: smooth;
}

.arrow {
  position: fixed;
  height: 50px;
  bottom: 40px;
  right: 50px;
  text-align: center;
  line-height: 50px;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #161813;
  overflow-x: hidden;
  margin: 0;
}

.hero-section-title {
  font-family: "trade-gothic-next", sans-serif;
  font-weight: 300;
  font-style: normal;
}

/* navbar */
code {
  background: #fff1;
  font-family: 'Inconsolata', monospace;
  padding: .2em .4em;
}

.content {
  background-color: #fff;
  border-radius: 8px;
  box-sizing: border-box;
  color: #666;
  font-size: 1.6em;
  line-height: 1.4em;
  margin: 20px auto;
  margin-top: 80px;
  padding: 20px;
  width: 100%;
  max-width: 800px;
}

.content ul {
  margin: .5em 2em;
  padding: 0;
}

#footer {
  background-color: #246c;
  background-image: linear-gradient(to bottom, transparent, #0009);
  border-top: 1px solid #fff3;
  box-shadow: inset 0 1px 0 #fff3, 0 0 32px #000;
  overflow: hidden;
  padding: 8px;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9001;
}
#footer a {
  color: #85c6f6;
  padding: 1em 0;
  text-decoration: none;
}
#footer ul {
  display: flex;
  list-style: none;
  justify-content: center;
  font-size: 2em;
  font-weight: 300;
}
#footer ul li {
  padding: 0 .5em;
}

/* Appearance */
.links {
  background-color: #123;
  background-image: linear-gradient(to bottom, #0003, transparent);
  border-bottom: 1px solid #0003;
  box-shadow: 0 0 32px #0003;
  font-size: 1.2em;
  font-weight: 300;
}

.links > a {
  color: #9ab;
  padding: 1em;
  text-align: center;
  text-decoration: none;
  transition: all .5s;
}

.links > a:hover {
  background: #ffffff06;
  color: #adf;
}
.links > .line {
  background: #68a;
  height: 1px;
  pointer-events: none;
}

/* The Magic */
#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.links {
  display: grid;
  grid-template-columns: repeat(var(--items), 1fr);
  position: relative;
}
.links > .line {
  opacity: 0;
  transition: all .5s;
  position: absolute;
  bottom: 0;
  left: var(--left, calc(100% / var(--items) * (var(--index) - 1)));
  width: var(--width, calc(100% / var(--items)));
  --index: 0;
}
.links > a:hover ~ .line {
  opacity: 1;
}

.links > a:nth-of-type(1):hover ~ .line { --index: 1; }
.links > a:nth-of-type(2):hover ~ .line { --index: 2; }
.links > a:nth-of-type(3):hover ~ .line { --index: 3; }
.links > a:nth-of-type(4):hover ~ .line { --index: 4; }
.links > a:nth-of-type(5):hover ~ .line { --index: 5; }
.links > a:nth-of-type(6):hover ~ .line { --index: 6; }
.links > a:nth-of-type(7):hover ~ .line { --index: 7; }
.links > a:nth-of-type(8):hover ~ .line { --index: 8; }
.links > a:nth-of-type(9):hover ~ .line { --index: 9; }
.links > a:nth-of-type(10):hover ~ .line { --index: 10; }
.links > a:last-of-type:hover ~ .line { --index: var(--items); }

/* hero section */
.hero-section-title, .hero-section-sub-heading {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
}

.hero-section-content {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.6) 100%);
  padding: 20px;
  border-radius: 8px;
  color: #fff;
  text-align: center;
  backdrop-filter: blur(5px); 
  padding: 20px;
  border-radius: 8px;
  color: #fff;
}

.fade-divider {
  height: 50px;
  background: linear-gradient(to bottom, #161813, transparent);
}

/* carousel */
.carousel {
  width: 80%; 
  margin: 0 auto; 
}

.carousel-item img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  margin-top: 50px;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px 20px;
  border-radius: 5px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
}

.carousel-caption h5 {
  color: white;
  font-size: 24px;
  text-align: center;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
}

.container h2 {
  margin-bottom: 20px;
  color: #333;
}

.card {
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
  transition: transform .2s;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  height: 200px;
  object-fit: cover;
}

/* hero section */

.hero-section {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.hero-section-title {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  font-size: 80px;
  text-align: center;
  text-transform: capitalize;
}

.hero-section-sub-heading {
  text-align: center;
  text-transform: capitalize;
  margin: 20px 0;
  font-size: 20px;
}

.scroll-down-icon {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 20px;
  animation: down ease 1s infinite;
}

@keyframes down {
  from {
    bottom: 10%
  }

  to {
    bottom: 8%
  }
}

/* background part */

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

.background::before,
.background::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 50%;
}

.background::before {
  top: 0;
  left: 0;
  background: var(--gradient-top);
}

.background::after {
  bottom: 0;
  background: var(--gradient-bottom);
}

/* fun facts accordion */

.accordion-item {
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.accordion-header {
  background-color: #f1f3f5;
  border-bottom: 1px solid #dee2e6;
  padding: 15px 20px;
  cursor: pointer;
}

.accordion-body {
  padding: 15px 20px;
}

.accordion-button:not(.collapsed) {
  color: #fff;
  background-color: #007bff;
}

.accordion-button:hover {
  background-color: #0056b3;
}

.accordion-button::after {
  content: '\25bc';
  float: right;
}

.accordion-button:not(.collapsed)::after {
  transform: rotate(180deg);
}


.accordion-button {
  transition: background-color 0.3s, color 0.3s;
}

.listcontainer {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #8a2b2b; /* A traditional Japanese color */
  font-size: 2.5em;
}

.itinerary-list {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.itinerary-list > li {
  padding: 10px 0;
  border-bottom: 1px solid #eaeaea;
  font-size: 1.2em;
}

.options {
  list-style: none;
  padding: 0;
  margin: 10px 0 0 20px;
}

.options > li {
  padding: 5px 0;
  font-size: 1.1em;
}

@media (max-width: 600px) {
  h1 {
      font-size: 2em;
  }
  .itinerary-list > li, .options > li {
      font-size: 1em;
  }
}
/* travel grid */

.travel-grid {
  width: 100%;
  columns: 3;
  column-gap: 20px;
  margin-top: 200px;
}

.travel-grid img {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-bottom: 20px;
  border-radius: 10px;
}

.bg-circle {
  z-index: -1;
  position: absolute;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background: var(--sphere-gradient-one);
  right: -250px;
}

/* explore section */

.explore-section {
  position: relative;
  width: 100%;
  padding: 80px 10vw;
  color: #fff;
}

.section-title {
  font-weight: 400;
  text-align: center;
  text-transform: capitalize;
}

.section-para {
  width: 50%;
  min-width: 300px;
  display: block;
  margin: 30px auto;
  text-align: center;
  line-height: 25px;
  opacity: 0.6;
}

.tours-container {
  position: relative;
  width: 100%;
  height: 600px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 20px;
  margin-top: 100px;
  align-items: center;
  margin: 0 auto;
}

.tour-card {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 20px;
  box-shadow: 0;
  overflow: hidden;
  padding: 10px;
  display: flex;
  align-items: end;
}

.tour-card:nth-child(2) {
  grid-row: span 2;
}

.tour-card:last-child {
  grid-column: span 2;
}

.tour-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: .5s;
  z-index: -1;
}

.tour-card:hover .tour-img {
  opacity: 0.8;
  transform: scale(1.1);
}

.tour-name {
  font-weight: 400;
}

.tour-action {
  margin-left: 20px;
  font-size: 14px;
  position: relative;
}

.tour-action::before {
  content: '';
  position: absolute;
  left: -20px;
  top: 2px;
  background: url('imgs/logo\ \(1\).png');
  background-size: cover;
  width: 15px;
  height: 15px;
}

.location {
  align-items: center;
}

/* iframe hover effect */

.location iframe:hover {
  border-color: #007bff;
  box-shadow: 0 0 20px 5px rgba(0, 123, 255, 0.5);
}

/* footer */
.footer {
  width: 100%;
  padding: 100px 10vw;
  background: #000;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
}

.footer-logo {
  width: 100px;
  opacity: 0.3;
}

.footer-text {
  color: #fff;
  opacity: 0.5;
  font-size: 20px;
}

.footer-text p {
  margin: 20px 0;
}

.social-links i {
  font-size: 17px;
  margin-left: 10px;
  margin-top: 30px;
  padding: 10px;
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-radius: 10px;
  cursor: pointer;
}

/* tab view */

@media screen and (max-width: 1460px) {
  .link-item {
    margin: 0 10px;
  }

  .hero-section-title {
    font-size: 60px;
  }

  .tours-container {
    height: 900px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    margin-left: auto;
    margin-right: auto;
  }

  .tour-card:last-child {
    grid-column: span 1;
  }

  .tour-card:nth-child(3) {
    grid-row: span 2;
  }

  .travel-grid {
    columns: 2;
  }

  .footer-logo {
    width: 70px;
  }

  .footer-text {
    font-size: 16px;
  }
}

/* much smaller device */

@media screen and (max-width:798px) {
  .navbar {
    height: auto;
  }

  .link-item {
    margin-top: 80px;
    text-align: center;
  }

  .link-item:nth-child(3) {
    margin: -50px -30px 0 -30px;
  }

  .link-item a {
    padding: 10px;
    margin: auto;
    display: block;
  }

  .section-title {
    font-size: 50px;
  }

  .grid-slider {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
  }

  .hero-section-sub-heading {
    font-size: 16px;
  }

  .section-para {
    width: 100%;
  }

  .tours-container {
    height: 1200px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    margin-left: auto;
    margin-right: auto;
  }

  .tour-card:nth-child(2) {
    grid-row: auto;
  }

  .tour-card:last-child {
    grid-column: span 1;
    width: 100%;
  }

  .tour-card:nth-child(3) {
    grid-row: span 1;
  }

  .card {
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
    transition: transform .2s;
    margin-top: 40px;
  }

  .travel-grid {
    columns: 1;
  }
}